@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Patrick+Hand+SC&family=Quicksand:wght@300..700&display=swap');

* {
    color: white;
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url('../assets/background-purple.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px auto;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    height: 570px;
    width: 350px;
    background-color: rgba(43, 43, 167, 0.199);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.search-field {
    padding: 12px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 50px;
    width: 250px;
}

.search-btn {
    background: transparent;
    border-radius: 30px;
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

.weather-icon {
    margin-top: 10px;
}

.main-icon {
    width: 100px;
    height: 100px;
}

.temp-text {
    font-size: 64px;
    margin: 0;
}

.city {
    font-size: 32px;
    margin: 0;
    margin-top: 10px;
}

.wind-humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.wind {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.wind-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.w-data, .h-data {
    font-size: 24px;
}

.w-icon, .h-icon { 
    font-size: 32px;
}

.forecast {
    margin-top: 20px;
}

.forecast-heading {
    font-size: 24px;
}

.forecast-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .container {
        width: 310px;
    }

    .main-heading {
        font-size: 30px;
        padding: 0px 5px;
    }

}